body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


header {
    background: linear-gradient(to right, #007bff, #6610f2); 
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; 
}

.table-hover tbody tr:hover {
    background-color: #e9ecef; 
}


.pagination .page-item .page-link {
    color: #007bff; 
}

.pagination .page-item.active .page-link {
    background-color: #007bff; 
    border-color: #007bff;
    color: white;
}

button {
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}

#tableBody tr {
    cursor: pointer; 
}